<?xml version="1.0"?>
<launch>

	<node name="trajectory_smoothing_server" pkg="trajectory_smoothing" type="smooth_server.py"
		respawn="false" output="screen" />
	
	<node name="trajectory_smoothing_client" pkg="trajectory_smoothing" type="smoother_node.py"
		respawn="false" output="screen" />

	<node name="velocity_extraction_server" pkg="velocity_extraction" type="velocity_from_points_server.py"
		respawn="false" output="screen" />
	
	<node name="velocity_extraction_client" pkg="velocity_extraction" type="velocity_from_points.py"
		respawn="false" output="screen" />

	<node name="velocity_publisher" pkg="manos_velocity_command" type="velocity_publish.py"
		respawn="false" output="screen" />

</launch>
	