<?xml version="1.0"?>
<launch>

	<node name="velocity_extraction_server" pkg="velocity_extraction" type="velocity_from_points_server.py"
		respawn="false" output="screen" />
	
	<node name="velocity_extraction_client" pkg="velocity_extraction" type="velocity_from_points.py"
		respawn="false" output="screen" />

</launch>
	